{% extends "login_page_base.html" %}

{% block login_or_signup %}

{% load widget_tweaks %}


<link rel="stylesheet" href="{% static 'nicinterface/css/login.css' %}">

<!-- templates/registration/login.html -->
<div class="container-fluid login-container">
    
    <div class="row align-items-center">
        <!--Column Spacing-->

        <!--Login Form-->
        <div class="col-md-6 offset-md-3 align-self-center">
            <div class="login-form">
                <form method="post" class="center-block">
                    <h2>Login</h2>

                      {% csrf_token %}

                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}

                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}
                          {% render_field field class="form-control" %}
                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}

                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

