html {
  scroll-behavior: smooth;
} 

h1 {
    color: #FCA205;
    /*color: #5B70E5;*/
}

body { 
	padding-top: 65px; 
	/*padding-bottom: 20px; */
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

/* USING BOOTSTRAP 3.0.3 */
body {
  padding-top: 150px;
}
nav .navbar-brand {
  font-size: 25px;
}
nav .navbar-toggle {
  margin: 13px 15px 13px 0;
}
nav a {
  font-size: 20px;
  /*padding-bottom: 10px !important;*/
  /*padding-top: 10px !important;*/
  transition: all 0.3s ease;
}
nav.navbar.shrink {
  padding: .1rem 1rem;
  min-height: 35px;
}
nav.navbar.shrink .navbar-brand {
  font-size: 20px;
}
nav.navbar.shrink a {
  font-size: 17px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
nav.navbar.shrink .navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}

.smallLogo {
  /*width:200px;*/
  width:13rem;
}
.largeLogo {
  /*width:300px;*/
  width:20rem;
}
.transition {
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}
.transition-text {
  -webkit-transition: width 1.0s; /* Safari */
  transition: width 1.0s;
}

.footer-container{
  background: white;
  margin-top: 3rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 167px;
  line-height: 60px; 
  background-color: white;
}

/* Line under the nav bar tabs */

.hvrcenter {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvrcenter:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  /*background: #667DFF;*/
  background: #FFA180;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvrcenter:hover:before, .hvrcenter:focus:before, .hvrcenter:active:before {
  left: 0;
  right: 0;
}

body {
	background : #f4f4f4;
}


/* Submit Buttons in forms */

.btn-primary {
/*	background-color: #007bff;
	border-color: #007bff;*/
	background-color: #667DFF;
	border-color: #667DFF;
}

.btn-primary:hover {
	background-color: #5B70E5;
	border-color: #4859B7;
/*	background-color: #0069d9;
	border-color: #0062cc;
*/
}



.vl {
  border-left: 3px solid #A9A9A9;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}