.thanks-title {
	margin-bottom: 1.5rem;
}

.status-group {
	padding-left: 1.5rem;
}

.first-status-group{
	padding-top: 1.5rem;
}

.status-label {
	font-size: 1.5rem;
}

.status-title{
	padding-top:1rem;
}

.status {
	font-size: 1.15rem;
}

/* progress bar stuff */

.status-bar {
	margin-top: 10px;
}

.progress {
	background-color: white;
}

.progress-bar {
	background-color: #FFA180;	
}

.status-image {
	width: 85%;
	padding: 20px;
}

.status-container-left {
	border:3px solid #FCA205;
	margin-right: 15px;
	
}

.status-container-right {
	border:3px solid #FCA205;
	margin-left: 15px;

}