.thanks-title {
	margin-bottom: 1.5rem;
}

.status-group {
	
}

.status-label {
	font-size: 1.1rem;
	margin-bottom: 0;
	font-weight: bold;
}

.status {
	font-size: 0.85rem;
	margin-bottom: 0;

}

.status-image-title{
	margin-top: 20px;
}

.status-image{
	margin-bottom: 20px;
}

.status-image-container{
	border:3px solid #FCA205;	
	margin-top: 1.5rem;
}

.status-text-container{
	border:3px solid #FCA205;	
	padding-top:20px;	
}

.input-param-title {
	font-size: 1.6rem;
}

/*
.status-image {
	width: 300px;
}*/

#modal-na-button {
	margin-top: 1.5rem;
}