
ul {
    list-style-type: none;
}

.add-row {
	color: #667DFF;
}

.add-row:hover {
	color: #5164CC;
}

.delete-row {
	color: #667DFF;
}

.delete-row:hover {
	color: #5164CC;
}

.table thead th {
	border-bottom: 2px solid #B1B4B8;
}

.table thead th {
	border-top: 2px solid #B1B4B8;
}

.table td, .table th {
	border-top: 1px solid #bbbcbd;
}

.table {
	margin-top: 2.5rem;
}

#patient-demo-button {
	margin-top: 1rem;
}

#patient-type-container-id {
	margin-top: 1.5rem;
}

#new-patient-id{
	padding-top: 5rem;
}

#old-patient-id {
	padding-top: 5rem;

}

#next-step-id {
	margin-top: 4rem;
}

#next-step-row-id {
	margin-top: 3rem;
}

.pulse-button-section {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.95); }
  to { transform: scale(1); }
}

#accordion {
	padding-top: 1.5rem;
}

/* rotating arrows in accordion */


.mb-0>a, .mb-0>a:active{
	display:block;
	padding:15px;
}
.card-header  a:before {
   font-family: 'FontAwesome';
   content: "\f078";
   float: right;
   transition: all 0.5s;
}


.card-header.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 

.mb-0>a:hover {
  text-decoration: underline !important;
}

.mb-0 {
	color:#667DFF;
	font-weight: bold;
}

/* alert don't show at begining */
.alert{
    display: none;
}