.login-title {
	/*margin-top: 1.5rem;*/
	padding-bottom: 1.5rem;
	color: #5B70E5;
}

.login-sub-title {
	color:black;
}

.main-page-icon {
	width: 150px;
	height: 150px;
}

.login-container {
	/* used to make the login box the only thing on the screen
	height: 100vh;*/
	padding-bottom: 5rem;
	text-align: center;

}

.login-form {
	margin-top: 20%;
	border:3px solid #A9A9A9;
	background-color: #ffba44;
	padding: 50px;
	margin-top: 2rem;
}

.main-intro {
	border:3px solid #FCA205;
	padding: 20px;
	margin-bottom: 25px;
}

.update-container {
	outline: 2px solid #ccc;
}

.workflow-intro-img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.workflow-intro-desc {
	padding-top: 1rem;
}