ul {
    list-style-type: none;
}

.add-row {
	color: #667DFF;
}

.add-row:hover {
	color: #5164CC;
}

.delete-row {
	color: #667DFF;
}

.delete-row:hover {
	color: #5164CC;
}

.table thead th {
	border-bottom: 2px solid #B1B4B8;
}

.table thead th {
	border-top: 2px solid #B1B4B8;
}

.table td, .table th {
	border-top: 1px solid #bbbcbd;
}

.table {
	margin-top: 2.5rem;
}

.corr-workflow-page-title {
	margin-bottom: 2rem;
}

.correlation-step-heading {
	margin-top: 2.5rem;
}