#btn-network-analysis {
	margin-top: 1.5rem;
}

#input-csf-file-loc {
	margin-bottom: 1.5rem;

}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.na-step-heading {
	margin-top: 2.5rem;
}

#download-button-id{
  color:white;
}

/*.choices-multiple-remove-button{ 
	overflow: visible;
}	

.step-3-container {
	margin-bottom: 3.5rem;
}

.choices__list--multiple .choices__item {
    background-color: #5B70E5;
    border: 0px;	
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #304adf;
    border: 0px;	
}*/


.js-example-tags-container ul {
  list-style: none;
  padding: 0;
}

.tag-selected {
  list-style: none;
  background-color: #FAB744;
  border: 1px solid #C89236;
  border-radius: 4px;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}

.destroy-tag-selected {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}

.destroy-tag-selected:hover {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
    text-decoration: none;
  }


.select2-selection__choice {
  display: none;
}


.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.metadata-element {
	margin: 0;
}

.corr-measure-element {
	font-weight: bold;	
}

#result-table-output-id{
	marign-left: 1.5rem;
}

.download-results-button{
	margin-top: 1.5rem;
}

.pulse-button-section {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.95); }
  to { transform: scale(1); }
}
