.first-half-row {
	height: 17rem;
	overflow-y: scroll;
}

.details-row {
	border-bottom: 2px solid black;
}

.details-value {
	padding-left: 25px;

}

.rerun-button {
	margin-top: 1.75rem;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}