<!-- templates/signup.html -->
{% extends 'nicinterface/base.html' %}

{% block title %}Welcome to NIC!{% endblock %}

{% block content %}
{% load widget_tweaks %}

{% block login_or_signup %}
{% endblock %}

<h1 class="login-title">What is the Neuro-intergrative Connectivity Platform (NIC)?</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class=" main-intro">    
        <h2>Updates</h2>
        <ul>
          <li><b>New Release! </b>Docker Container v1.0 has been released at <a href="https://hub.docker.com/r/vsocrates/nicworkflow">https://hub.docker.com/r/vsocrates/nicworkflow</a></li>
          <li><b>New Release! </b>Version 1.0 is released and can be accessed on this site!</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class=" main-intro">
        <h2 class="">Overview</h2>
        <p>The NIC Platform is a comprehensive user-friendly platform to analyze functional connectivity in epilepsy patients. The platform converts EDF files, calculates correlation measures, and allows management of past workflow runs. </p>
      </div>
    </div>      
  </div>

  <div class="row">
    <div class="main-intro">

        <h3>Epilepsy</h3>

        <p>Epilepsy affects nearly 50 million individuals worldwide. Demographically, it affects all age groups and genders. While certain patients are able to manage their condition with a single medication, many need multiple therapies including neuromodulation devices, surgery, and dietary restrictions. Even with current advances, 1/3 of patients still have uncontrollable seizures. Research into seizure pathophysiology have involved analysis of genetic, electrophysiological, and mechanistic components. 

        <h3>Functional Connectivity</h3>
        <p>Functional connectivity is a statistical measure that captures correlation between different, often spatially separate, regions in the brain. Often it is measured by correlation or coherence. Functional connectivity can be used to determine signal propogation in patients with epilepsy, hopefully leading to understanding the underlying mechanisms of the disease.</p>

        <h3>Taverna Workflow</h3>
        <p>Taverna is an open-source scientific workflow management system designed to easily and effectively design and execute scientific workflows. Currently a part of the Apache Incubator, the NIC workflow using the Taverna v2.54 developed by the myGrid consortium <a href="http://www.mygrid.org.uk/tools/">(http://www.mygrid.org.uk/tools/)</a>. We leverage Taverna to enable workflow visualization, provenance generation, and failover support.</p>
    </div>
  </div>

  <div class="row">
    <div class="main-intro">
        <h1 class="login-sub-title">Taverna Workflow Visualization</h1>
        <img class="workflow-intro-img" src="{% static 'nicinterface/images/correlation_workflow_final_nostatus_start.svg' %}" alt="Correlation Workflow SVG">
        <p class="workflow-intro-desc">The workflow above describes calculation of the three correlation measures supported. In the workflow, this image updates as the workflow progresses.</p>
    </div>
  </div>

  <div class="row">
    <h1 class="login-sub-title">Features of the NIC Workflow</h1>
  </div>
  <div class="row">
    <div class="col-sm">
      <img class="main-page-icon" src="{% static 'nicinterface/images/conversion_icon.svg' %}"></img>
      <h2>Conversion</h2>
      <p>EEG files are generally disseminated in a binary format known as European Data Format (EDF). Due to a loss of interpretability, the Sahoo Lab has developed a JSON-based human-readable format we call <a href="https://www.ncbi.nlm.nih.gov/pubmed/25852536">Cloudwave Signal Format</a>. The NIC workflow allows for conversion from EDF to CSF files using an intuitive user interface.</p>
    </div>
    <div class="col-sm">
      <img class="main-page-icon" src="{% static 'nicinterface/images/correlation_icon.svg' %}"></img>
      <h2>Correlation</h2>
      <p>To investigate functional connectivity in the brain, statistical correlation measures are used. The NIC workflow supports the following measures: <a href="https://en.wikipedia.org/wiki/Pearson_correlation_coefficient">Pearson Correlation</a>, <a href="https://www.sciencedirect.com/science/article/pii/S0167278900000877">Mean Phase Coherence</a>, and <a href="https://link.springer.com/chapter/10.1007/978-1-4612-0341-4_4">Non-linear correlation by Pijn et al.</a></p> The output is returned to the user for further evaluation.
    </div>
    <div class="col-sm">
      <img class="main-page-icon" src="{% static 'nicinterface/images/torus.svg' %}"></img>
      <h2>Algebraic Topology</h2>
      <p>To analyze the change in network graph topology as the seizure progresses, we use methods in algebraic topology. Namely, the NIC workflow calculates the <a href="https://en.wikipedia.org/wiki/Betti_number">Betti numbers</a> given temporal input parameters.</p>
    </div>
    <div class="col-sm">
      <img class="main-page-icon" src="{% static 'nicinterface/images/provenance_icon.svg' %}"></img>
      <h2>Provenance</h2>
      <p>Finally, due to the rampant lack of scientific reproducibility in biomedicine generally, we have developed the NIC platform to ensure studies and analysis can be recreated. We do this through the use of Provenance, such as patient metainformation and past computation run history.</p>
    </div>
  </div>
</div>


{% endblock %}
