{% extends "login_page_base.html" %}

{% block login_or_signup %}

{% load widget_tweaks %}

<link rel="stylesheet" href="{% static 'nicinterface/css/signup.css' %}">

<!-- templates/registration/login.html -->
<div class="container-fluid login-container">
    
    <div class="row align-items-center">
        
        <div class="col-md-8 offset-md-2 align-self-center">
          <!--Column Spacing-->
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Thank you for signing up! We will contact you shortly when your account has been verified.
          </div>
        </div>

        <!--Login Form-->
        <div class="col-md-8 offset-md-2 align-self-center">
            <div class="signup-form">
                <form method="post" class="center-block" id="signup-form-id">
                    <h2>Sign Up</h2>
                      {% if form.errors %}
                        
                          <p>{{ form.errors.as_text }}</p>
                        
                      {% endif %}
                      {% csrf_token %}

                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}
                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}
                          {% render_field field class="form-control" %}
                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}

                      <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $( "#signup-form-id" ).submit(function( event ) {
      $('.alert').show()
    });    

  $(document).ready(function(){
  });  

</script>

{% endblock %}
