{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}NIC Correlation{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'nicinterface/css/404.css' %}">


<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 mx-auto">
            <h1 class="error-heading">404 Page Not Found</h1>
            <img src="{% static 'nicinterface/images/nic_logo_broken.svg' %}" class="d-inline-block largeLogo" id="broken-logo" alt="">
            <p>We can't find this page, please try a different one!</p>
            
            
        </div>
    </div>
</div>


{% endblock %}
