{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}NIC Correlation{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'nicinterface/css/500.css' %}">


<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 mx-auto">
            <h1 class="error-heading">500 Server Error</h1>
            <img src="{% static 'nicinterface/images/nic_logo_broken.svg' %}" class="d-inline-block largeLogo" id="broken-logo" alt="">
            <p>Sorry, our server had an issue, please shoot us an email letting us know!</p>
            
            
        </div>
    </div>
</div>

{% endblock %}
