{% load static %}
{% load nic_extras %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<title>{% block title %}NIC Workflow{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'nicinterface/css/base.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
        <!-- makes it look weird
            <link rel="stylesheet" href="{% static 'nicinterface/css/select2-bootstrap4.min.css' %}"> 
          -->
        
        <!-- Include base CSS (optional) -->
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/base.min.css"> -->
        <!-- Include Choices CSS 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"> -->

	</head>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Include Choices JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="navbar">
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'landing' %}">
        <img src="{% static 'nicinterface/images/nic_logo_large2.svg' %}" class="d-inline-block largeLogo" id="Logo" alt="">
        <!-- text for title
        <div id="navbar-text" class="d-inline-block transition-text">
          <div class="container">
            <div class="row">
              NIC
            </div>
            <div class="row">
              Neuro-Intergrative Connectivity Workflow
            </div>
          </div>
        </div> -->
      </a>
    </nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% if user.is_authenticated %}

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto justify-content-center">
            {% autoescape off %} <li {% active_url 'conversion' %}>{% endautoescape %}
              <a class="nav-link hvrcenter" href="{% url 'conversion' %}">Conversion<span class="sr-only">(current)</span></a>
            </li>
            {% autoescape off %}<li {% active_url 'correlation' %}>{% endautoescape %}
              <a class="nav-link hvrcenter" href="{% url 'correlation' %}">Correlation</a>
            </li>
          {% autoescape off %}<li {% active_url 'network-analysis' %}>{% endautoescape %}
            <a class="nav-link hvrcenter" href="{% url 'network-analysis' %}">Network Analysis</a>
          </li>              
          {% autoescape off %}<li {% active_url 'history' %}>{% endautoescape %}
            <a class="nav-link hvrcenter" href="{% url 'history' %}">Run History</a>
          </li>  

      {% else %}
      {% endif %}
   <!--        {% autoescape off %}<li {% active_url '#' %}>{% endautoescape %}
            <a class="nav-link" href="#">Signal View</a>
          </li>-->
        </ul>
         <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <a>Welcome, {{ user.username }}</a>
            <div class="vl"></div>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <div class="vl"></div>
            <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>        
      </div>
    </nav>

    <main role="main" class="container">
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main><!-- /.container -->



<!-- Footer -->
<footer class="page-footer footer-container font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Neuro-Integrative Connectivity</h5>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License</a>.
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://case.edu/"> Case Western Reserve University</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
    <script>

        function growShrinkLogo() {
          var Logo = document.getElementById("Logo")
          if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            Logo.className = 'smallLogo transition';
          } else {
            Logo.className = 'largeLogo transition';
          }
        }

        $(window).scroll(function() {
          growShrinkLogo();            
          if ($(document).scrollTop() > 50) {
            $('nav').addClass('shrink');
            // $("div#navbar-text").text("NIC");
          } else {
            $('nav').removeClass('shrink');
            // $("div#navbar-text").text("Neuro-Intergrative Connectivity Workflow");
          }
        });        
    </script>

</html>
