{% extends "nicinterface/base.html" %}

{% block title %}Thanks for submitting!{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'nicinterface/css/conversionformthanks.css' %}">

{% if status_server_error %}
	<div class="container">
	  <div class="row justify-content-md-center">
	    <div class="col-lg-9">
	      <div class="alert alert-danger alert-dismissible fade show" role="alert">
	         A server error occurred and the status file either does not exist or could not be read. Please submit the form again. 
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	    </div>
	  </div>
	</div>
{% endif %}

<div class="thanks-title">
	<h3>Thanks for submitting! Your files are being converted!</h3>
	<h5>(The page will automatically refresh every few minutes)</h5>
</div>

<div class="container">    
    <div class="row">
		<div class="col-6">
	    </div>
		<div class="col-6">

	    </div>
	</div>
	<div class="row">
    	<div class="col status-container-left">
	    	<h4 class="status-title">Current Status</h4>
			<div class="row status-group first-status-group">
				<p class="status-label">Current File: </p>
			</div>
			<div class="row justify-content-center status-group">
				<p class="status">{{ curr_file }}</p>
			</div>
			<div class="row status-group">			
				<p class="status-label">Current Step: </p>
			</div>
			<div class="row justify-content-center status-group">
				<p class="status" id="curr-step-id">{{ curr_step }}</p>
			</div>
			<div class="row status-group">
				<p class="status-label">Last Updated: </p>				
			</div>
			<div class="row justify-content-center status-group">
				<p class="status">{{ curr_time }}</p>
			</div>
		</div>
		<div class="col status-container-right">
	    	<h4 class="status-title">Status of Workflow Execution</h4>			
			<img class="status-image rounded mx-auto d-block" src="{{ status_workflow_img }}" alt="Conversion Workflow SVG">	
		</div>
    </div>	
</div>

<!-- Not working right now, random numbers instead of in order. TODO: Fix from Taverna Workflow side probably
	<div class="progress status-bar">
		<div class="progress-bar" role="progressbar" style="width: {{ fraction_complete }}%" aria-valuenow="{{ fraction_complete }}" aria-valuemin="0" aria-valuemax="100">{{ fraction_complete }}%</div>
	</div>    	
-->
<!-- Modal -->
<div class="modal fade" id="conversion-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Conversion Done!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<i>(Double check that the status underneath matches the input values you entered to ensure conversion run completion. This popup may refer to the previous run.)</i>
      	</br>
      	</br>      	
      	Now that your files are in CSF format, we can begin the network analysis. We start with calculating coupling measures between electrodes in the next form. We support a number of coupling measures. Please click the button below to move to the next step!
		<div class="row justify-content-center" id="modal-na-button">
	    	  <a href="{% url 'correlation' %}" class="btn btn-primary" role="button">To Correlation</a>
	    </div>	      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>    


<script type="text/javascript">


	window.setTimeout(function () {
		document.location.reload(true);
	    // location.href = "{% url 'form-correlation-thanks' %}";
	}, 30000); // refresh/redirect after 30 seconds.
	// 300000 == 5 minutes

	$( document ).ready(function() {
		if ($("#curr-step-id").text() === "END-CONVERSION" && "{{status_server_error}}" !== "True") {
			$("#conversion-modal").modal();
		}
	    
	});		

</script>

{% endblock %}

