{% extends "nicinterface/base.html" %}

{% block title %}Correlation Form Status{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'nicinterface/css/correlationformthanks.css' %}">

	{% if status_server_error %}
		<div class="container">
		  <div class="row justify-content-md-center">
		    <div class="col-lg-9">
		      <div class="alert alert-danger alert-dismissible fade show" role="alert">
		         A server error occurred and the status file either does not exist or could not be read. Please submit the form again. 
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		    </div>
		  </div>
		</div>
	{% endif %}


	<div class="row justify-content-center thanks-title">
    	<h3>Thanks for submitting! Your correlation matrices are being generated!</h3>
    	<h5>(The page will automatically refresh every few minutes)</h5>
    </div>
    <div class="container">
	    <div class="row  justify-content-center">
	    </div>	
	    <div class="row justify-content-center status-text-container">
			<div class="my-auto col-6">
		        <div class="text-center">
		    		<h4>Current Status</h4>
		    	</div>
		    </div>
			<div class="my-auto col-6">
		        <div class="text-center">
			    	<h4>Your Input Parameters</h4>
			    </div>
		    </div>
			<div class="my-auto col-6">

				<div class="row justify-content-center status-group">
					<p class="status-label">Current CSF Directory: </p>
				</div>
				<div class="row justify-content-center status-group">
					<p class="status">{{ curr_file }}</p>
				</div>
				<div class="row justify-content-center status-group">			
					<p class="status-label">Current Step: </p>
				</div>
				<div class="row justify-content-center status-group">
					<p class="status" id="curr-step-id">{{ curr_step }}</p>
				</div>
				<div class="row justify-content-center status-group">
					<p class="status-label">Last Updated: </p>				
				</div>
				<div class="row justify-content-center status-group">
					<p class="status">{{ curr_time }}</p>
				</div>
			</div>
			<div class="my-auto col-6">


				<div class="row justify-content-center status-group">
					<p class="status-label">Seizure Start Time: </p>				
				</div>
				<div class="row justify-content-center status-group">
					<p class="status">{{ curr_seizure_start }}</p>
				</div>
				<div class="row justify-content-center status-group">
					<p class="status-label">Seizure End Time: </p>				
				</div>
				<div class="row justify-content-center status-group">
					<p class="status">{{ curr_seizure_end }}</p>
				</div>
				<div class="row justify-content-center status-group">
					<p class="status-label">Lag Window: </p>				
				</div>
				<div class="row justify-content-center status-group">
					<p class="status">{{ curr_lag_window }}</p>
				</div>
				<div class="row justify-content-center status-group">
					<p class="status-label">Channel List: </p>				
				</div>
				<div class="row justify-content-center status-group">
					<p class="status">{{ curr_channel_list }}</p>
				</div>
			</div>

	    </div>
	    <div class="row justify-content-center status-image-container">
	    	<div class="col-12 text-center status-image-title">
		    	<h4>Status of Workflow Execution</h4>
			</div>
			<div class="col-12 status-image">
				<img class="status-image rounded mx-auto d-block" src="{{ status_workflow_img }}" alt="Correlation Workflow SVG">	
			</div>
	    </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="correlation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Correlation Done!</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<i>(Double check that the status underneath matches the input values you entered to ensure coupling run completion. This popup may refer to the previous run.)</i>	  
	      	</br>
	      	</br>	      	    	
	      	It's time to move on performing network analysis on these files! We support a number of network analysis measures. Please click the button below to move to the next step!
			<div class="row justify-content-center" id="modal-na-button">
		    	  <a href="{% url 'network-analysis' %}" class="btn btn-primary" role="button">To Network Analysis</a>
		    </div>	      	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>    
    
	<script type="text/javascript">

		window.setTimeout(function () {
			document.location.reload(true);
		    // location.href = "{% url 'form-correlation-thanks' %}";
		}, 30000); // refresh/redirect after 30 seconds.
		// 300000 == 5 minutes

		$( document ).ready(function() {
			if ($("#curr-step-id").text() === "CORRELATION-END") {
				$("#correlation-modal").modal();
			}
		    
		});		
 		
	</script>

{% endblock %}
