{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}NIC Correlation{% endblock %}

{% block content %}
  

    <link rel="stylesheet" href="{% static 'nicinterface/css/landing-patient-demographics.css' %}">

    <h1>Welcome to the NIC (Neuro-Integrative Connectivity) workflow!</h1>
    <hr />

    <h3>Step 1: Would you like to analyze a new patient, or one that is already in the database?</h3>

    <div class="container" id="patient-type-container-id">
      <div class="row justify-content-md-center">
        <div class="col-lg-2">
          <a class="btn btn-primary btn-lg" href="#new-patient-id" role="button">New Patient</a>
        </div>
        <div class="col-lg-2">
          <a class="btn btn-primary btn-lg" href="#old-patient-id" role="button">Old Patient</a>
        </div>
      </div>
    </div>


<div id="new-patient-id">
  <h4>New Patient Demographic Information</h4>
  <h6>If this is a new patient, fill out this information. It won't be duplicated in the database if this patient's data has already been created.</h6>


  <div id="form-error" class="alert alert-danger alert-dismissible">
    There was an error with the patient demographics form submission. Please try again or contact us and we'll be glad to help! 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

{% if form.errors %}
<div id="form-error">
  <p>The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after making the following changes:</p>
  <ul>
  {% for field in form %}
  <li>{{ field.errors|striptags }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}  
  <form class="form-horizontal" method="POST" action="{% url 'form-patient-demo' %}" id="patient-demo-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="accordion panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card panel panel-default">
          <div class="card-header" id="headingEight">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                {{patientdemo_form.patient_mrn.label}}
              </a>
            </h5>
          </div>
          <div id="collapseEight" class="collapse panel-collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
              {{patientdemo_form.patient_mrn.label}}: {% render_field patientdemo_form.patient_mrn class+="form-control" %}
            </div>
          </div>
        </div>

        <div class="card panel panel-default">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                {{patientdemo_form.epi_zone_locale.label}}
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse panel-collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{patientdemo_form.epi_zone_locale.label}}: {% render_field patientdemo_form.epi_zone_locale class+="form-control" %}
            </div>
          </div>
        </div>
        <div class="card panel panel-default">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{patientdemo_form.seiz_semiology.label}}
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse panel-collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              {{patientdemo_form.seiz_semiology.label}}: {% render_field patientdemo_form.seiz_semiology class+="form-control" %}
            </div>
          </div>
        </div>
        <div class="card panel panel-default">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{patientdemo_form.seiz_etiology.label}}
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse panel-collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              {{patientdemo_form.seiz_etiology.label}}: {% render_field patientdemo_form.seiz_etiology class+="form-control" %}
            </div>
          </div>
        </div>
        <div class="card panel panel-default">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{patientdemo_form.med_conds.label}}
              </a>
            </h5>
          </div>
          <div id="collapseFour" class="collapse panel-collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              {{patientdemo_form.med_conds.label}}: {% render_field patientdemo_form.med_conds class+="form-control" %}
            </div>
          </div>
        </div>
        <div class="card panel panel-default">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                {{patientdemo_form.seiz_freq.label}}
              </a>
            </h5>
          </div>
          <div id="collapseFive" class="collapse panel-collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              {{patientdemo_form.seiz_freq.label}}: {% render_field patientdemo_form.seiz_freq class+="form-control" %}
            </div>
          </div>
        </div>
        <div class="card panel panel-default">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                {{patientdemo_form.pt_gender.label}} and {{patientdemo_form.pt_age.label}}
              </a>
            </h5>
          </div>
          <div id="collapseSix" class="collapse panel-collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              {{patientdemo_form.pt_gender.label}}: {% render_field patientdemo_form.pt_gender class+="form-control" %}
              </br>
              {{patientdemo_form.pt_age.label}}: {% render_field patientdemo_form.pt_age class+="form-control" %}
            </div>
          </div>
        </div>
        <div class="card panel panel-default">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <a role="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                {{patientdemo_form.discharge_sum.label}}
              </a>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse panel-collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              <div class="container">
                <div class="row">

                    {{patientdemo_form.discharge_sum}}

                </div>                
                <div class="row">

                    <button id="patient-demo-button" type="submit" class="btn btn-primary">Add Patient Demographics</button>

                </div>                

              </div>
            </div>
          </div>
        </div>        
      </div>
  </form>
</div>

<hr />

<div id="old-patient-id">
  <h4>Old Patient Demographics</h4>
  <h6>Please select an old patient to move on to conversion of EDF to CSF files, calculating coupling measures, or network analysis.</h6>

  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-9">
          <div class="table-responsive-md">
            <table class="table" id="patient-demo-table">
              <thead>
                <tr>
                  <th>Patient ID</th>
                  <th>Patient Age</th>
                  <th>Patient Gender</th>
                </tr>
              </thead>
              <tbody>
                {% for patient in past_patient_demo_data %}
                <tr>
                  <td>{{ patient.patient_id }}</td>
                  <td>{{ patient.pt_age }}</td>
                  <td>{{ patient.pt_gender }}</td>                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

{% if patient_demo_server_error %}
  <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-9">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
             There was an error getting your past patients, please try again later!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
  </div>
{% endif %}



<div class="container" id="next-step-id">
  <h3>Let's move on to the next step!</h3>
  <div id="form-result" class="alert alert-success alert-dismissible">
    Successfully added Patient Demographics!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="row justify-content-md-center" id="next-step-row-id">
    <div class="col-lg-2">
      <span data-container="body" id="next-step-tooltip" data-toggle="popover" data-placement="left" data-content="Now that you've chosen/added a patient, it's time for the next step! (This is usually conversion from EDF to CSF files)">
        <a class="btn btn-primary btn-lg pulse-button" href="{% url 'conversion' %}" role="button">To Conversion</a>
      </span>
    </div>
    <div class="col-lg-2">
      <a class="btn btn-primary btn-lg pulse-button" href="{% url 'correlation' %}" role="button">To Correlation</a>
    </div>
    <div class="col-lg-2">
      <a class="btn btn-primary btn-lg pulse-button" href="{% url 'network-analysis' %}" role="button">To Network Analysis</a>
    </div>    
  </div>
</div>

<script src="{% static 'nicinterface/js/jquery.formset.js' %}"></script>
<script>

   $('.panel-collapse').on('show.bs.collapse', function () {
      $(this).siblings('.card-header').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
      $(this).siblings('.card-header').removeClass('active');
    });

    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();   
    });

    $('#patient-demo-table').on('click', 'tbody tr', function(event) {
      $(this).addClass('table-active').siblings().removeClass('table-active');

      // reset the popover
      $("#next-step-row-id").removeClass('pulse-button-section');
      $('[data-toggle="popover"]').popover("hide");  

      sessionStorage.setItem("currPatientID", $(this)[0].innerText.split("\t")[0]);

      var element_to_scroll_to = $('#next-step-id')[0];

      element_to_scroll_to.scrollIntoView();  
      // pulse the button options
      $("#next-step-row-id").addClass('pulse-button-section');
      // show the tooltip
      $('#next-step-tooltip').tooltip({ boundary: 'window' })
      $('[data-toggle="popover"]').popover("show");  

      // save item to local storage for other forms
      console.log($(this)[0].children[0])
      console.log($(this)[0].children[0].textContent)
      localStorage.setItem("currPatientID", $(this)[0].children[0].textContent);


    });

    $('#patient-demo-form').submit(function(event){
        // Stop the browser from submitting the form.
        var patient_ID = document.getElementById("id_patient_mrn").value;

        event.preventDefault();
        var data = new FormData($('form').get(0));

        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                $('#form-result').show();
                $('#patient-demo-button').hide();
                
                localStorage.setItem("currPatientID", patient_ID);
                
                var element_to_scroll_to = $('#next-step-id')[0];
                
                element_to_scroll_to.scrollIntoView();
                // pulse the button options
                $("#next-step-row-id").addClass('pulse-button-section');
                // show the tooltip
                $('#next-step-tooltip').tooltip({ boundary: 'window' })
                $('[data-toggle="popover"]').popover("show");  


            },
            error: function(){
              $('#form-error').show();
            },
        });
        
        return false;
    });

</script>

{% endblock %}
