{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}NIC Conversion{% endblock %}

{% block content %}

    <h1>Conversion Workflow</h1>

    <h3>Use the form below to convert your EDF files into CSF Files!</h3>
    </br>
    {% if conversion_server_error %}
		<div class="container">
		  <div class="row justify-content-md-center">
		    <div class="col-lg-9">
		      <div class="alert alert-danger alert-dismissible fade show" role="alert">
		         There was a server error that occurred. Please try resubmitting the conversion form or contacting us and we'll get back to you!
		        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		    </div>
		  </div>
		</div>
    {% endif %}

	{% if form.errors %}
	    {% for field in form %}
	        {% for error in field.errors %}
	            <div class="alert alert-danger">
	                <strong>{{ field.label }}: {{ error|escape }}</strong>
	            </div>
	        {% endfor %}
	    {% endfor %}
	    {% for error in form.non_field_errors %}
	        <div class="alert alert-danger">
	            <strong>{{ error|escape }}</strong>
	        </div>
	    {% endfor %}
	{% endif %}    

    <div class="row justify-content-center">
    	<div class="col-6">
		<form action="{% url 'form-conversion' %}" method="post">
		    {% csrf_token %}
		    {% if patient_id %}
			    <div class="form-group">
				    <label for="{{ form.conv_patient_mrn.id_for_label }}">{{form.conv_patient_mrn.label}}</label>
						<input type="text" name="conv_patient_mrn" placeholder="12345" class="form-control" required="" id="id_conv_patient_mrn" value="{{ patient_id }}">        
				</div>
			{% else %}
			    <div class="form-group">
				    <label for="{{ form.conv_patient_mrn.id_for_label }}">{{form.conv_patient_mrn.label}}</label>
				        {% render_field form.conv_patient_mrn class+="form-control" %}
				</div>
			{% endif %}			

		    <div class="form-group">
			    <label for="{{ form.edf_file_loc.id_for_label }}">{{form.edf_file_loc.label}}</label>
		        {% render_field form.edf_file_loc class+="form-control" %}
			</div>

		    <div class="form-group">
			    <label for="{{ form.output_csf_loc.id_for_label }}">{{form.output_csf_loc.label}}</label>
		        {% render_field form.output_csf_loc class+="form-control" %}
			</div>

		    <div class="form-group">
			    <label for="{{ form.epoch_duration.id_for_label }}">{{form.epoch_duration.label}}</label>
		        {% render_field form.epoch_duration class+="form-control" %}
			</div>

		    <div class="form-group">
			    <label for="{{ form.epochs_per_segment.id_for_label }}">{{form.epochs_per_segment.label}}</label>
		        {% render_field form.epochs_per_segment class+="form-control" %}
			</div>

	    <div class="row justify-content-center">
	        <div class="col-5">
	        	<button type="submit" class="btn btn-block btn-primary">Run Conversion</button>
	    	</div>
	    </div>
		</form>
		</div>
	</div>

    <script>
		$( document ).ready(function() {

			if (sessionStorage.getItem("conv_patient_id") !== null){
				$("#id_conv_patient_mrn").val(sessionStorage.getItem("conv_patient_id"))
		        sessionStorage.removeItem("conv_patient_id");
			}
			if(sessionStorage.getItem("edf_file_loc") !== null){
				$("#id_edf_file_loc").val(sessionStorage.getItem("edf_file_loc"))	
				sessionStorage.removeItem("edf_file_loc");
			}    
		    if(sessionStorage.getItem("output_file_loc") !== null){
		    	$("#id_output_csf_loc").val(sessionStorage.getItem("output_file_loc"))
		    	sessionStorage.removeItem("output_file_loc");
		    }
		    if(sessionStorage.getItem("epoch_duration") !== null){
			    $("#id_epoch_duration").val(sessionStorage.getItem("epoch_duration"))  
		        sessionStorage.removeItem("epoch_duration");

		    }
		    if(sessionStorage.getItem("epoch_per_segment") !== null){
		    	$("#id_epochs_per_segment").val(sessionStorage.getItem("epoch_per_segment"))    	
			    sessionStorage.removeItem("epoch_per_segment");
		    }        
		    if (localStorage.getItem("currPatientID") !== null && 
		    		$("#id_conv_patient_mrn").val() === "") {
		      $("#id_conv_patient_mrn").val(localStorage.getItem("currPatientID"));
		    }    


		});
    </script>

{% endblock %}
