{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}NIC Correlation{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'nicinterface/css/main-correlation.css' %}">


    <h1 class="corr-workflow-page-title">Correlation Workflow</h1>


	<form class="form-horizontal" method="POST" action="{% url 'form-correlation' %}">
    <h3>Use the form below to calculate coupling measures on your CSF Files!</h3>
    <hr/>

    {% if correlation_server_error %}
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-9">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
             There was a server error that occurred. Please try resubmitting the correlation form or contacting us and we'll get back to you!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  {% if correlation_form.errors %}
      {% for field in correlation_form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ field.label }}: {{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in correlation_form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}    


    <h5 class="correlation-step-heading">Step 1: Select the location of your CSF Files for the selected patient.</h5>
    {% csrf_token %}
    <div class="row justify-content-md-center">
      <div class="col-6">
          {% if patient_id %}
              <label for="{{ correlation_form.corr_patient_mrn.id_for_label }}">{{correlation_form.corr_patient_mrn.label}}</label>
              <input type="text" name="corr_patient_mrn" placeholder="12345" class="form-control" required="" id="id_corr_patient_mrn" value="{{ patient_id }}"> 
          {% else %}
            <label>{{correlation_form.corr_patient_mrn.label}}</label>
            {% render_field correlation_form.corr_patient_mrn class+="form-control" %}
          {% endif %}     
          <label>{{correlation_form.csf_file_loc.label}}</label>
          <div class="input-group">
              {% render_field correlation_form.csf_file_loc class+="form-control" %}
          </div>
          <label>{{correlation_form.corr_output_loc.label}}</label>
          <div class="input-group">
              {% render_field correlation_form.corr_output_loc class+="form-control" %}
          </div>
      </div>      
    </div>
    <h5 class="correlation-step-heading">Step 2: Select the coupling measures you would like to calculate.</h5>
  	<div class="row justify-content-md-center">
  		<div class="col-6">
  <!--		    <label style="padding-left: 35px;">{{correlation_form.corr_metric_list.label}}</label>
   			{% for checkbox in correlation_form.corr_metric_list %}
  			    <label class="btn btn-primary">
  			    {{ checkbox.tag }} {{ checkbox.choice_label }}
  			    </label>
  			{% endfor %}	 -->    
  		    {% render_field correlation_form.corr_metric_list class+="" %}
  		</div>
  	</div>

    <h5 class="correlation-step-heading">Step 3: Enter the event windows for the given patient.</h5>
    {% if not corr_seiz_prefill_inputs %}
      {% if formset.errors %}
        {% for dict in formset.errors %}
            {% for field, error_list in dict.items %}
              {% for error in error_list %}
                  <div class="alert alert-danger">
                      <strong>Error in entry {{ forloop.parentloop.parentloop.counter }} - Field {{ field }}: {{ error|escape }}</strong>
                  </div>
              {% endfor %}    
            {% endfor %}
        {% endfor %}
        {% for error in formset.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}    

      <table class="table">
          {{ formset.management_form }}
          {% for form in formset.forms %}
              {% if forloop.first %}
                  <thead>
                  <tr>
                      {% for field in form.visible_fields %}
                          <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                  </tr>
                  </thead>
              {% endif %}
              <tr class="formset_row">
                  {% for field in form.visible_fields %}
                      <td>
                          {# Include the hidden fields in the form #}
                          {% if forloop.first %}
                              {% for hidden in form.hidden_fields %}
                                  {{ hidden }}
                              {% endfor %}
                          {% endif %}
                          {{ field }}
                      </td>
                  {% endfor %}
              </tr>
          {% endfor %}
      </table>
    {% else %}

      {% if formset.errors %}
        {% for dict in formset.errors %}
            {% for field, error_list in dict.items %}
              {% for error in error_list %}
                  <div class="alert alert-danger">
                      <strong>Error in entry {{ forloop.parentloop.parentloop.counter }} - Field {{ field }}: {{ error|escape }}</strong>
                  </div>
              {% endfor %}    
            {% endfor %}
        {% endfor %}
        {% for error in formset.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}    


      <table class="table">
          {{ formset.management_form }}

          {% for form in formset.forms %}
              {% if forloop.first %}
                  <thead>
                  <tr>
                      {% for field in form.visible_fields %}
                          <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                  </tr>
                  </thead>
              {% endif %}
              {% for seiz_input_prefill in corr_seiz_prefill_inputs  %}
                <tr class="formset_row">
                        {# Include the hidden fields in the form #}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <td>
                          <input type="text" name="form-{{ forloop.counter0 }}-seizure_start_time" placeholder="e.g. 16.03.20,10.15.05" id="id_form-{{ forloop.counter0 }}-seizure_start_time" value="{{ seiz_input_prefill.seizure_start }}">
                        </td>
                        <td>
                          <input type="text" name="form-{{ forloop.counter0 }}-seizure_end_time" placeholder="e.g. 16.03.20,10.15.45" id="id_form-{{ forloop.counter0 }}-seizure_end_time" value="{{ seiz_input_prefill.seizure_end }}">
                        </td>
                        <td>
                          <input type="text" name="form-{{ forloop.counter0 }}-lag_window" placeholder="e.g. 0.10" id="id_form-{{ forloop.counter0 }}-lag_window" value="{{ seiz_input_prefill.lag_window }}">
                        </td>
                        <td>
                          <input type="text" name="form-{{ forloop.counter0 }}-channel_list" placeholder="e.g. lk1,lk3,lj1" id="id_form-{{ forloop.counter0 }}-channel_list" value="{{ seiz_input_prefill.channel_list }}">
                        </td>
                        <td>
                          <input type="text" name="form-{{ forloop.counter0 }}-corr_output_loc" placeholder="e.g. /output/path/of/measures" id="id_form-{{ forloop.counter0 }}-corr_output_loc" value="{{ seiz_input_prefill.corr_output_loc }}">
                        </td>                            
                </tr>
              {% endfor %}
          {% endfor %}
      </table>
    {% endif %}

  	<div class="row justify-content-center">
  	    <div class="col-3">
  	        <button type="submit" class="btn btn-block btn-primary">Run Correlations</button>
  	    </div>
  	</div>
	</form>

<script src="{% static 'nicinterface/js/jquery.formset.js' %}"></script>
<!-- <script src="{% static 'nicinterface/js/main-correlation.js' %}"></script> -->
<script>

  $( document ).ready(function() {

    if (sessionStorage.getItem("corr_metrics") !== null){
      var metrics = sessionStorage.getItem("corr_metrics");
          var metrics_list = metrics.split(",");
          for (var i = 0; i < metrics_list.length; i++){
              if(metrics_list[i] == "pijn"){
                  $("#id_corr_metric_list_0").attr("checked", true);
              } else if (metrics_list[i] == "pearson") {
                  $("#id_corr_metric_list_1").attr("checked", true);
              } else if (metrics_list[i] == "phase") {
                  $("#id_corr_metric_list_2").attr("checked", true);
              }
          }
          sessionStorage.removeItem("corr_metrics");
    }
    if(sessionStorage.getItem("csf_file_loc") !== null){
      $("#id_csf_file_loc").val(sessionStorage.getItem("csf_file_loc")) 
      sessionStorage.removeItem("csf_file_loc");

      // we also want to increase the hidden input field to the right number of forms in formset
      var numItems = $('.formset_row.dynamic-form').length;
      $("#id_form-TOTAL_FORMS").val(numItems);

    }    
      // if(sessionStorage.getItem("corr_output_loc") !== null){
      //   $("#id_corr_output_loc").val(sessionStorage.getItem("corr_output_loc"))
      //   sessionStorage.removeItem("corr_output_loc");
      // }
      if(sessionStorage.getItem("corr_patient_id") !== null){
        $("#id_corr_patient_mrn").val(sessionStorage.getItem("corr_patient_id"))  
          sessionStorage.removeItem("corr_patient_id");
      }

      // this one is for the link from the main page
      if (localStorage.getItem("currPatientID") !== null) {
        $("#id_corr_patient_mrn").val(localStorage.getItem("currPatientID"));
      }    

    });

    $('.formset_row').formset({
        addText: 'Add Seizure Event',
        deleteText: 'Remove Seizure Event'
    });

</script>

{% endblock %}
