{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}Network Analysis{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{% static 'nicinterface/css/network-analysis.css' %}">
	<link rel="stylesheet" href="{% static 'nicinterface/css/loading-spinner.css' %}">

      {% if formset.errors %}
        {% for dict in formset.errors %}
            {% for field, error_list in dict.items %}
              {% for error in error_list %}
                  <div class="alert alert-danger">
                      <strong>Error in entry {{ forloop.parentloop.parentloop.counter }} - Field {{ field }}: {{ error|escape }}</strong>
                  </div>
              {% endfor %}    
            {% endfor %}
        {% endfor %}
        {% for error in formset.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}    


	{% if network_analysis_form.errors %}
	    {% for field in network_analysis_form %}
	        {% for error in field.errors %}
	            <div class="alert alert-danger">
	                <strong>{{ field.label }}: {{ error|escape }}</strong>
	            </div>
	        {% endfor %}
	    {% endfor %}
	    {% for error in network_analysis_form.non_field_errors %}
	        <div class="alert alert-danger">
	            <strong>{{ error|escape }}</strong>
	        </div>
	    {% endfor %}
	{% endif %}    


	<form class="form-horizontal" id ="na-seiz-form" method="POST" action="{% url 'network-analysis-process' %}">
	    {% csrf_token %}
	    <h1>Network Analysis</h1>
	    <h3>Use the following form to calculate and download the network analysis measures.</h3>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
			    <h5 class="na-step-heading">Step 1: Please enter the full path for the correlation measure files you created in the last step for each seizure event. (We use these files to conduct the network analysis.)</h5>

			    <div class="row justify-content-md-center">
			        <div class="col-lg-9">
			          {{ formset.non_form_errors }}
			          <table class="table">
			              {{ formset.management_form }}
			              {% for form in formset.forms %}
			                  {% if forloop.first %}
			                      <thead>
			                      <tr>
			                          {% for field in form.visible_fields %}
			                              <th>{{ field.label|capfirst }}</th>
			                          {% endfor %}
			                      </tr>
			                      </thead>
			                  {% endif %}
			                  <tr class="formset_row">
			                      {% for field in form.visible_fields %}
			                          <td>
			                              {# Include the hidden fields in the form #}
			                              {% if forloop.first %}
			                                  {% for hidden in form.hidden_fields %}
			                                      {{ hidden }}
			                                  {% endfor %}
			                              {% endif %}
			                              {{ field.errors.as_ul }}
			                              {{ field }}
			                          </td>
			                      {% endfor %}
			                  </tr>
			              {% endfor %}
			      </table>
			        </div>
			    </div>
			    </br>

			    <h5 class="">Step 2: Select the network analysis you'd like to calculate.</h5>

				<div class="row justify-content-md-center">

					<div class="col-lg-6">
						<!-- <select class="form-control" name="network-analysis-list" id="network-analysis-list" placeholder="Network Analysis Options" multiple>
						    {% for id, name in network_analysis_form.network_analysis_list.field.choices %}
						    	<option value="{{ id }}">{{ name }}</option>
						    {% endfor %} -->
		                    {{ network_analysis_form.network_analysis_list |add_class:"form-control js-example-tags"}}
		                    <div class="js-example-tags-container"></div>

						<!-- </select> -->
					</div>
				</div>
			    <h5 class="">Step 3: Select the coupling measures to perform network analysis over.</h5>

				<div class="row justify-content-md-center">

					<div class="col-lg-6">
						<!-- <select class="form-control" name="network-analysis-list" id="network-analysis-list" placeholder="Network Analysis Options" multiple>
						    {% for id, name in network_analysis_form.network_analysis_list.field.choices %}
						    	<option value="{{ id }}">{{ name }}</option>
						    {% endfor %} -->
		                    {{ network_analysis_form.correlation_measure_list |add_class:"form-control js-example-tags"}}
		                    <div class="js-example-tags-container"></div>

						<!-- </select> -->
					</div>
				</div>

			    <h5 class="na-step-heading">Step 4: Enter a name for the file and prepare it for download.</h5>
				<div class="row justify-content-md-center step-3-container">
		            <div class="col-lg-4">
		                {{ network_analysis_form.network_analysis_output_file |add_class:"form-control" }}
		            </div>
					<div class="col-lg-4" id="submit-button-container-id">
						<button id ="start-na-button-id" type="submit" class="btn btn-block btn-primary">Start Job</button>
					</div>
				</div>	
			</div>
			<div class="col-md-5">
				<div>
					<div class="row justify-content-md-center" id="result-table-output-id">
						<h4 class="na-step-heading">
							No Results Generated.
						</h4>
						<div class="result-table-container"></div>

					</div>
				</div>
			</div>
		</div>
	</div>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="na-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Network Analysis Job</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<div class="row justify-content-center">
				<h5>Job Running</h5>
		    </div>	      	

			<div class="row justify-content-center">
				<div class="lds-facebook"><div></div><div></div><div></div></div>
		    </div>	      	
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>    



<script src="{% static 'nicinterface/js/jquery.formset.js' %}"></script>
<script src="{% static 'nicinterface/js/network-analysis.js' %}"></script>

	<script>

	$('#na-modal').bind('ajaxStart', function(){
	    $(this).modal("show");
	}).bind('ajaxStop', function(){
	    $(this).modal("hide");
	});


	$( document ).ready(function() {

		$(".js-example-tags").select2({
		tags: false,
		placeholder: "Add a metric...",
		allowClear: true})
			.on('change', function() {
				var $selected = $(this).find('option:selected');
				var $container = $(this).siblings('.js-example-tags-container');

				var $list = $('<ul>');
				$selected.each(function(k, v) {
				  var $li = $('<li class="tag-selected"><a class="destroy-tag-selected">×</a>' + $(v).text() + '</li>');
				  $li.children('a.destroy-tag-selected')
				    .off('click.select2-copy')
				    .on('click.select2-copy', function(e) {
				      var $opt = $(this).data('select2-opt');
				      $opt.prop('selected', false);
				      $opt.parents('select').trigger('change');
				    }).data('select2-opt', $(v));
				  $list.append($li);
				});
				$container.html('').append($list);
		}).trigger('change');

		$("#start-na-button-id").click(function(e) {
            // clear last run on click
            $("#download-button-id").remove();
            $(".result-table-container").empty();

		    e.preventDefault();
		    var frm = $('#na-seiz-form');
			var formData = new FormData();

			$('#na-modal').modal("show");
		    $.ajax({
		        type: "POST",
		        url: "{% url 'network-analysis-process' %}",
		        data: frm.serialize(),
		        success: function(result) {
		        	// console.log("result: ", result);

		        	var resultContainer = $("#result-table-output-id");
		        	// add results header
		        	resultContainer.find(".na-step-heading")
		        		.text("Results");

					// start with metadata
					var underHeaderContainer = resultContainer.find(".result-table-container")					
		        	underHeaderContainer.append("<h5>Metadata</<h5>")
					for (var i = 0; i <  result['metadata_output_list'].length; i++ )
					{
						var metadataElem = result['metadata_output_list'][i];

						for (const [key, value] of Object.entries(metadataElem))
						{
							var metadataText = "<b>" + key + ": " + "</b>" + value
							var metadata = $("<p class='metadata-element'></p>").html(metadataText);

							underHeaderContainer.append(metadata);
						}

						underHeaderContainer.append("<hr/>")

					}		        	

					// now do the data tables
		        	underHeaderContainer.append("<h5>Data Tables</<h5>")
					for (const [key, value] of Object.entries(result['network_analysis_by_corr_measure'])){

						var title = $("<p class='corr-measure-element'></p>").text("Correlation Measure: " + key);
						underHeaderContainer.append(title);

						var dataForCorrMeasure = value;
						var table = $('<table>')
							.addClass('table')
							.addClass('table-bordered')
							.addClass('table-dark')
							.addClass('table-sm');
 						
 						// first we do the header row
 						var randomElemKey = Object.keys(dataForCorrMeasure)[0];
 						var dataArray = dataForCorrMeasure[randomElemKey];
 						var networkAnalysisColumns = []
 						var row = $('<tr>');
 						row.append($("<th>").text("Seizure Event"));
 						for (var i = 0; i < dataArray.length; i++){
 							if(dataArray[i].hasOwnProperty('degreedist')){
 								networkAnalysisColumns.push("degreedist")
 								var col = $("<th>").text("Degree Distro");
 								row.append(col);
 							}
 							else if(dataArray[i].hasOwnProperty('globaleff')){
 								networkAnalysisColumns.push("globaleff")
 								var col = $("<th>").text("Global Eff");
 								row.append(col);
 							}
 							else if(dataArray[i].hasOwnProperty('cpl')){
 								networkAnalysisColumns.push("cpl")
 								var col = $("<th>").text("Char. Path Length");
 								row.append(col);
 							}
 							else if(dataArray[i].hasOwnProperty('numCliques')){
 								networkAnalysisColumns.push("numCliques")
 								var col = $("<th>").text("# of Cliques");
 								row.append(col);
 							}
 						}

 						table.append(row);

 						// now each of the rows
						for (const [key, value] of Object.entries(dataForCorrMeasure))
						{
							var row = $('<tr>');
							var szEventRowName = $("<td>").text(key);
							row.append(szEventRowName);
							for (var naIdx = 0; naIdx < value.length; naIdx++){
								var naDataValue = $("<td>").text(value[naIdx][networkAnalysisColumns[naIdx]]);
								row.append(naDataValue);
							}
							table.append(row);
						}

						underHeaderContainer.append(table)
					}	
                    
                    var downloadButton = $('<a></a>').attr({
                                class: "btn btn-primary download-results-button",
                                type: 'button',
                                id:"download-button-id",
                            })
                        .text("Download Results");
                        $("#submit-button-container-id").append(downloadButton)

                        $('#download-button-id').click(function(e) {
                            e.preventDefault();
                                            


                            // Use XMLHttpRequest instead of Jquery $ajax
                            xhttp = new XMLHttpRequest();
                            xhttp.onreadystatechange = function() {
                                var a;
                                if (xhttp.readyState === 4 && xhttp.status === 200) {
                                    // Trick for making downloadable link
                                    a = document.createElement('a');
                                    a.href = window.URL.createObjectURL(xhttp.response);
                                    // Give filename you wish to download
                                    a.download = result['network_analysis_output_file'];
                                    a.style.display = 'none';
                                    document.body.appendChild(a);
                                    a.click();
                                }
                            };
                            // Post data to URL which handles post request
                            xhttp.open("POST", "{% url 'download-network-analysis' %}");
                            xhttp.setRequestHeader("Content-Type", "application/json");
                            // You should set responseType as blob for binary responses
                            xhttp.responseType = 'blob';
                            xhttp.send(JSON.stringify({
                                filename:result['network_analysis_output_file'], 
                                data:result['network_analysis_by_corr_measure'], 
                                network_analysis_by_sz_event:result['network_analysis_by_sz_event']}));
                            });

                    document.getElementById("download-button-id").scrollIntoView();  
                    // pulse the button options
                    downloadButton.addClass('pulse-button-section');
		        },
		        error: function(result) {
		            alert('error');
		        },
		        complete: function(){
					$('#na-modal').modal("hide");
		        },
		    });
		});
    });

    $('.formset_row').formset({
        addText: 'Add Seizure Event',
        deleteText: 'Remove Seizure Event'
    });

	</script>

{% endblock %}
