{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}Network Analysis{% endblock %}

{% block content %}
	<link rel="stylesheet" href="{% static 'nicinterface/css/network-analysis.css' %}">

    <h2>Network Analysis Results</h2>
    <h6>We calculated the following metrics based on the file: </h6>
    </br>

{% endblock %}
