{% extends "nicinterface/base.html" %}

{% load widget_tweaks %}

{% block title %}Run History{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'nicinterface/css/past-run-history.css' %}">

    <h3>History of Your Past Runs</h3>
    <h4>Past Conversion Runs</h4>

    <h6>Below are your previous conversion runs.</h6>
    <div class="row first-half-row">
    	<div class="col-6">
		    <div class="list-group" id="list-tab" role="tablist">
				{% for i in past_edf_run_data %}
			      <a class="edf-run-link list-group-item list-group-item-action" id="list-edf{{ forloop.counter }}-list" data-toggle="list" href="#list-edf{{ forloop.counter }}" role="tab" aria-controls="edf{{ forloop.counter }}">
			      	<b>EDF Directory:</b> {{i.edf_file_loc }} 
			      	</br>
			      	<b>Run Started on:</b> {{ i.date_started }}
			      </a>
				{% endfor %}
		    </div>
	    </div>
    	<div class="col-6">
		    <div class="tab-content sticky" id="nav-tabContent">
				{% for i in past_edf_run_data %}
				    <div class="edf-run-detail tab-pane fade" id="list-edf{{ forloop.counter }}" role="tabpanel" aria-labelledby="list-edf{{ forloop.counter }}-list">
						 <table style="width:100%">
						  <tr class="details-row">
						    <td >EDF File Directory</td>
						    <td class="details-value">{{ i.edf_file_loc }}</td>
						  </tr>
						  <tr class="details-row">
						    <td>Output CSF Directory</td>
						    <td class="details-value">{{ i.output_file_loc }}</td>
						  </tr>
						  <tr class="details-row">
						    <td>Epoch Duration</td>
						    <td class="details-value">{{ i.epoch_duration }}</td>
						  </tr>
						  <tr class="details-row">
						    <td>Epochs per Segment</td>
						    <td class="details-value">{{ i.epoch_per_segment }}</td>
						  </tr>
						<!--<tr>
						    <td>Completed</td>
						    <td>{{ i.completed }}</td>
						  </tr>-->
						  <tr class="details-row">
						    <td>Patient ID</td>
						    <td class="details-value">{{ i.patient_id }}</td>
						  </tr>
						</table> 
			      	</div>
				{% endfor %}
				<button id="rerun-conv-input" class="btn btn-block btn-primary rerun-button">Rerun Conversion Input</button>
		    </div>
    	</div>
    </div>

	<hr/>

    <h4>Past Correlation Runs</h4>
    
    <h6>Below are your previous correlation runs.</h6>

        <div class="row first-half-row">
    	<div class="col-6">
			    <div class="list-group" id="list-tab" role="tablist">
					{% for i in past_csf_run_data %}
				      <a class="csf-run-link list-group-item list-group-item-action" id="list-csf{{ forloop.counter }}-list" data-toggle="list" href="#list-csf{{ forloop.counter }}" role="tab" aria-controls="{{ forloop.counter }}">
				      	<b>CSF Directory:</b> {{i.csf_file_loc }}
				      	</br>
				      	<b>Correlation Measures:</b> {{ i.corr_metrics }}
				      	</br>
				      	<b>Run Started on:</b> {{ i.date_started }}
				      </a>
					{% endfor %}
			    </div>
	       	</div>
    	<div class="col-6">
		    <div class="tab-content sticky" id="nav-tabContent">
				{% for i in past_csf_run_data %}
				    <div class="csf-run-detail tab-pane fade" id="list-csf{{ forloop.counter }}" role="tabpanel" aria-labelledby="list-csf{{ forloop.counter }}-list">
						<input type="hidden" id="id_corr_run_uuid" value="{{ i.run_uuid }}">
						 <table style="width:100%">
						  <tr class="details-row">
						    <td >Correlation Measures Calculated</td>
						    <td class="details-value">{{ i.corr_metrics }}</td>
						  </tr>
						  <tr class="details-row">
						    <td >CSF Input Directory</td>
						    <td class="details-value">{{ i.csf_file_loc }}</td>
						  </tr>
	<!--				  <tr class="details-row">
						    <td>Correlation Measure Output File</td>
						    <td class="details-value">{{ i.corr_output_loc }}</td>
						  </tr>
						  <tr>
						    <td>Completed</td>
						    <td>{{ i.completed }}</td>
						  </tr>
	-->
						  <tr class="details-row">
						    <td>Patient ID</td>
						    <td class="details-value">{{ i.patient_id }}</td>
						  </tr>
						</table> 
			      	</div>
				{% endfor %}
				<button id="rerun-corr-input" class="btn btn-block btn-primary rerun-button">Rerun Correlation Inputs</button>
		    </div>
    	</div>
    </div>

    <script src="{% static 'nicinterface/js/past-run-history.js' %}"></script>
    
    <script>
    	$( document ).ready(function() {
			$clickeditem1 = $(".edf-run-detail.active.show")
    		if($clickeditem1.length == 0){
    			$( "#rerun-conv-input" ).prop("disabled", true)
    		}

			$clickeditem2 = $(".csf-run-detail.active.show")
    		if($clickeditem2.length == 0){
    			$( "#rerun-corr-input" ).prop("disabled", true)
    		}

    		$(".edf-run-link").each(function() {
    			$(this).on("click", function() {
					$( "#rerun-conv-input" ).prop("disabled", false)
    			});
    		});

    		$(".csf-run-link").each(function() {
    			$(this).on("click", function() {
					$( "#rerun-corr-input" ).prop("disabled", false)
    			});
    		});

		});
    	

		$( "#rerun-conv-input" ).click(function() {

			var json_input_list = new Array();

			$table = $(".edf-run-detail.active.show")

		    $table.find('tr').each(function (i, el) {
		        var $tds = $(this).find('td');
		        var value = $tds.eq(1).text();
		        json_input_list.push(value);

			});

		    var json_input = {
		    	"edf_file_loc" : json_input_list[0],
		    	"output_file_loc" : json_input_list[1],
		    	"epoch_duration" : json_input_list[2],
		    	"epoch_per_segment" : json_input_list[3],
		    	"conv_patient_id" : json_input_list[4],
		    }

		    sessionStorage.setItem("edf_file_loc", json_input_list[0]);
		    sessionStorage.setItem("output_file_loc", json_input_list[1]);
		    sessionStorage.setItem("epoch_duration", json_input_list[2]);
		    sessionStorage.setItem("epoch_per_segment", json_input_list[3]);
		    sessionStorage.setItem("conv_patient_id", json_input_list[4]);

		    window.location.assign("{% url 'conversion' %}");

		});


		$( "#rerun-corr-input" ).click(function() {


			var json_input_list = new Array();

			$table = $(".csf-run-detail.active.show")

		    $table.find('tr').each(function (i, el) {
		        var $tds = $(this).find('td');
		        var value = $tds.eq(1).text();
		        json_input_list.push(value);

			});
		    
		    var json_input = {
		    	"corr_metrics" : json_input_list[0],
		    	"csf_file_loc" : json_input_list[1],
		    	// "corr_output_loc" : json_input_list[2],
		    	"corr_patient_id" : json_input_list[2],
		    }

		    sessionStorage.setItem("corr_metrics", json_input_list[0]);
		    sessionStorage.setItem("csf_file_loc", json_input_list[1]);
		    // sessionStorage.setItem("corr_output_loc", json_input_list[2]);
		    sessionStorage.setItem("corr_patient_id", json_input_list[2]);
		    sessionStorage.setItem("corr_run_uuid", $("#id_corr_run_uuid").val())
		    
		    var run_uuid_input_field = $table.find("input");

			$.post( "{% url 'correlation-session-store' %}", {
      			corr_metrics: json_input_list[0],
      			csf_file_loc: json_input_list[1],
      			// corr_output_loc: json_input_list[2],
      			corr_patient_id: json_input_list[2],
      			corr_run_uuid: run_uuid_input_field.val()
    		})
    		.done(function() {
    			window.location.assign("{% url 'correlation-prefilled' %}");
    		})
		});    	
    </script>
{% endblock %}
